
<div class="text-center">
    <h1 class="display-4">Bitcoin</h1>
    <h1 class="display-4">Release year:2008</h1>
    <h1 class="display-4"> <a href="https://localhost:7184/currency/price?name=BitCoin&&price=16971">Online Price</a>  </h1>
    <p>Back to <a href="https://localhost:7184/currency">Home</a> </p>
