
<div class="text-center">
    <h1 class="display-4">Currency</h1>
    <p>Look for the Online Price:</p>

    <table bgcolor="lightgrey">

        <tr bgcolor="grey">

            <th>Name</th>

        </tr>

        <tr>
            <td><a href="https://localhost:7184/currency/btc">Bitcoin</a></td>
        </tr>

        <tr>
            <td><a href="localhost:7184/currency/eth">Ethereum</a></td>
        </tr>








    </table>

</div>




